/**
*
*	ANGELES BACKEND CSS - DEVELOPPED BY CESAR GUTIERREZ
*
**/

html, body {
	background-color: #e1e1e1;
}

ul, ul li {
	list-style-type: none;
}

.btn a {
	color: #FFF;
}

.hidden-form {
	display: none;
}

.main-menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	width: 8%;
	max-width: 240px;
	font-size: 12px;
	bottom: 0;
	padding: 15px;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.main-menu ul li {
	padding: 0;
	margin: 0 0 15px 0;
}

.main-menu a {
	color: #FFF;
}

.main {
	padding-left: 10%;
}

.m-top-60 {
	margin-top: 60px;
}

.m-bottom-60 {
	margin-bottom: 60px;
}

.imagen-destacada {
	overflow: hidden;
}

/*	USER TABS  	*/

.tabs-container {
	padding: 15px;
}

.tab-box:nth-of-type(2), .tab-box:nth-of-type(3) {
	display: none;
}

.are-you-sure {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}

.are-you-sure .box {
	width: 40%;
	padding: 25px;
	text-align: center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	position: relative;
	margin-left:auto;
	margin-right: auto;
	background-color: #FFF;
	top: 50%; 
	transform: translate(0,-50%);
	overflow: hidden;
}

/*HOT*/

.file-image-thumb {
	position: relative;
	height: 180px;
	overflow: hidden;
	margin-bottom: 15px;
}
.file-image-thumb img {
	max-height: 100%;
}
.row-home-files {
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
}
.row-home-files:hover {
	background-color: #FFF;
}
.banners-existentes {
	margin-bottom: 60px;
}

a.delete-file-image {
	position: absolute;	
	font-size: 12px;
	color: #FFF;
	text-shadow: 1px 1px 2px #000;
	font-weight: 700;
	padding: 5px 8px;
	border-radius: 100%;
	background-color: #000;
	top: 0;
	right: 0;
	z-index: 2;
}

.total-images {
	position: relative;
}

ul#sortable {
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul#sortable li {
	list-style-type: none;
}

.loading {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.8);
	background-image: url('../images/ajax-loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

a.preview, a.preview:hover {
	border-color: green;
	border-width: 3px;
}

/* HOMEPAGE */

.media-image, .media-video {
	display: none;
}

.backend-home-video iframe {
	width: 100%!important;
	height: auto!important;
}



