/*
*
*
*	ANGELES CSS - DESARROLLADO POR: Cesar Gutierrez Diaz
*
******/

body {
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

ul, li {
	list-style-type: none;
}

img {
	display: block;
}

.padding-top-80 {
	padding-top: 80px;
}
.padding-bottom-80 {
	padding-bottom: 80px;
}
.padding-bottom-160 {
	padding-bottom: 160px;
}

.tabla {
	height: 100%;
	width: 100%;
	display: table;
}

.btn-primary a {
	color: #FFF;
}

.tabla-celda {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.home-loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 80;
	background-color: #FFF;
}

.home-loading img {
	margin-left: auto;
	margin-right: auto;
	max-width: 20%;
}

@media (max-width: 767px){
	.home-loading img {		
		max-width: 40%;
	}
}

.first-head {
	position: relative;
	padding: 10px;
}

#logout-form, #delete-form {
	display: none;
}

img.logo {
	margin-left: auto;
	margin-right: auto;
	display: block;	
	max-width: 48%;
}

img.logo-interno {	
	max-width: 18%;
}

p.peque {
	font-size: 12px;
}

.first-menu {
	position: absolute;
	right: 5%;
	top: 35%;
	
}

.first-menu ul {
	width: auto;
	font-size: 0;
	padding: 0;
}

.first-menu ul li {
	font-size: 16px;
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
	position: relative;
}
.first-menu ul li:last-child {
	margin-right: 0px;
}
.first-menu ul li a {
	color: #000;	
}
.home-first-menu ul li a {
	color: #b39e54;
	text-shadow: 1px 1px 2px #000;
}

.fb-head img,
.twitter-head img,
.instagram-head img,
.fb-footer img,
.twitter-footer img,
.instagram-footer img {
	width: 20px;
	height: 20px;
}

.second-head {
	padding: 10px 10px;
	position: relative;
}
ul.main-menu {
	width: 100%;
	font-size: 0;
	text-align: center;
	padding: 0;
}
ul.main-menu li {
	font-size: 20px;
	display: inline-block;
	margin: 0 15px;
	font-weight: 500;
	text-transform: uppercase;
}
ul.main-menu li:last-child {
	margin-right: 0px;
}
ul.main-menu li a {
	color: #000;
}
ul.home-main-menu li a {
	color: #b39e54;
	text-shadow: 1px 1px 2px #000;
}

/*blog submenu*/
.blog-submenu {
	position: absolute;
	top: 15px;
	left: 0;
	z-index: 4;
	display: none;
	background-color: #FFF;
	box-shadow: 1px 1px 2px #e8e8e8;
	padding: 10px!important;	
}

.home-first-menu .blog-submenu {
	background-color: transparent;
	box-shadow: none;	
}

.blog-submenu li {
	margin-bottom: 5px!important;
}
li.blog-menu:hover .blog-submenu {	
	display: block;
} 

.user-menu {
	position: absolute;
	right: 5%;
	top: 25px;
	z-index: 1;
}

.user-menu ul {
	font-size: 0;
	padding: 0;
}

.user-menu ul li {
	font-size: 14px;
	padding: 0;
	display: inline-block;
	margin: 0 10px;
	position: relative;
}
.user-menu ul li:last-child {
	margin-right: 0px;
}

.user-menu ul li a {
	color: #000;
}
.home-user-menu ul li a {
	color: #b39e54;
	text-shadow: 1px 1px 2px #000;
}

.container-menu {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}

/* HEADER HOME */

.header-home {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 15px;
}

.header-home .container-menu {
	border-bottom: none;
}

.home-header-box {
	position: relative;
}

.header-home nav {
	padding: 0;
}
.header-home .first-menu, .header-home .user-menu {
	position: relative;
	top: auto;
	right: auto;
}

.header-home .user-menu {	
	text-align: right;
}
ul.main-menu li.logo-movil {
	display: none;
}


ul.shopping-user-menu {
	display: none;
	position: absolute;
	z-index: 2;
	top: 18px;
	left: 0;
	width: 100%;
	font-size: 14px;
	background-color: #000;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}

ul.shopping-user-menu a {
	color: #FFF!important;
}

ul.shopping-user-menu li {
	width: 100%;
	margin-bottom: 8px!important;
	text-align: left!important;
}

.user-menu ul li:hover ul.shopping-user-menu {
	display: block;
}

/* LOGIN */

img.fb-login-btn {
	max-width: 10px;
	height: auto;
	display: inline-block;
	margin-right: 10px;
}

/* mobiles */

@media (min-width: 992px){
	ul.mob-menu-2, ul.mob-menu-3 {
		display: none;
	}
	a.open-mob-menu, .open-mob-issuem {
		display: none;		
	}
}

@media (max-width: 991px){

	.header-home, .cabecera {
		position: fixed;
		padding: 0 15px;
		top: 0;
		left: 0;
		background-color: #000;
		height: 40px;
		width: 100%;
		z-index: 20;
	}
	.cabecera .first-head {
		display: none;
	}
	.second-head {
		padding: 0;
	}
	.second-head .container-menu, .second-head .user-menu {
		float: left;
	}
	.second-head .container-menu {
		width: 80%;
	}
	.second-head .user-menu {
		width: 20%;
		top: 0;
	}
	.container-menu {
		padding: 0;
		border-bottom: none;
	}
	ul.main-menu li.logo-movil {
		display: inline-block;
	}
	ul.main-menu li.logo-movil img {
		display: inline;
		width: 20px;
		height: 22px;
	}
	.header-home > div {
		position: relative;
	}

	ul.main-menu {
		text-align: left;
		margin-top: 10px;
	}
	ul.main-menu li {
		font-size: 12px;
		margin: 0 5px;
		text-transform: none;
	}
	ul.main-menu li a {
		color: #FFF;
	}
	.first-header {
		display: none;
	}
	.user-menu {
		position: relative;
		right: auto;
		top: 0;
		/*overflow-x: hidden;	*/
		min-height: 30px;	
	}
	a.open-mob-menu, .open-mob-issuem {
		color: #FFF;
		position: absolute;
		right: 0;
		z-index: 10;
		display: block;
		top: 12px;
		width: 16px;
		height: 16px;
		background-image: url('../images/nav-mobil.png');
		background-size: 16px 16px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.user-menu > div {		
		position: fixed;
		right: -100%;
		top: 0;
		height: 100%;
		bottom: 0;
		background-color: #000;
		transition: 0.2s ease;
	    -moz-transition: 0.2s ease;
	    -webkit-transition: 0.2s ease;
	    -o-transition: 0.2s ease;
	    width: 60vw;
	    padding: 40px;
	    z-index: 8;
	    overflow-y: auto;
	}
	
	.user-menu ul li {		
		width: 100%;
		margin-bottom: 15px;		
	}
	.user-menu ul li a {
		color: #FFF;
	}
	.user-menu div.show-mob-menu {
		right: 0;			
	}

	.mob-menu-1 a, .mob-menu-2 a, .mob-menu-3 a {
		margin-right: 15px;
	}

	ul.mob-menu-2, ul.mob-menu-3 {
		border-top: 1px solid #323232;
		padding-top: 15px;
	}

	.mob-menu-3 img {
		display: inline-block;
		vertical-align: middle;
	}
	.blog-submenu {
		position: relative;
		background-color: transparent;
		box-shadow: none;
	}
	.show-mob-blog-sub {
		display: block;
	}
	ul.shopping-user-menu {
		position: relative;
	}
}

@media (min-width: 768px) and (max-width: 991px) and (orientation:portrait) {
	.home-menu-tablet-portrait {
		float: right;
	}
}

/*	MAIN  */

.home-main-ad {
	position: fixed;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.home-main-ad > div {
	position: relative;
	width: 70%;
	left: 50%;
	margin-left: -35%;	
	overflow: hidden;
	height: 90%;
}

.home-main-ad iframe {
	width: 100%!important;
	height: 100%!important;
}

.home-main-ad a.close-h-ad {
	position: absolute;
	z-index: 2;
	top: 5px;
	right: 5px;
	display: block;
	width: 24px;
	height: 26px;
	color: #000;
	background-color: #FFF;
	border-radius: 100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	padding: 7px 5px 12px 5px;
	font-size: 18px;
	line-height: 14px;
	font-weight: bold;
	text-align: center;
}
.home-main-ad a.close-h-ad:hover {
	color: #000;
	text-decoration: none;
}

.home-main-ad img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;	
}

@media (max-width: 767px) and (orientation:portrait){
	.home-main-ad > div {
		width: 90%;
		margin-left: -45%;
	}
}
@media (max-width: 767px) and (orientation:landscape){
	.home-main-ad > div {
		max-height: none;
	}
}

.main {
	padding: 15px 10px;
}
.home-main {
	padding: 4px 0px;
}

@media (max-width: 991px) {
	.main {
		margin-top: 40px;
	}
}

.home-main .section-title {
	font-size: 24px;
}

.contenedor {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.contenedor:after {
	clear: both;
	content: "";
	display: block;
}

span.peque {
	font-style: italic;
	font-size: 12px;
}

.main-title {
	text-align: center;
	margin-bottom: 80px;
	margin-top: 30px;
}
.main-title h1 {
	display: inline-block;
	position: relative;
	margin: 0;
	text-transform: uppercase;
}

.nosotros-maintitle {
	margin-bottom: 40px;
}

/* HOMEPAGE */

.home-banner {	
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.banner-home-video {
	overflow: hidden;
	position: relative;
}
.banner-home-video video {
	position: absolute;
	top: 0;
	left: 0;	
	z-index: 2;	
	height: 120%;
	top: -10%;
	width: auto;
}


@media (max-width: 991px) {
	.home-banner {		
		margin-top: 40px;
	}
}
@media (max-width: 991px) and (orientation:portrait){
	.home-banner {
		height: 40vh;		
	}
}


.home-banner .carousel, .home-banner .diapos {
	position: relative;
	height: 100%;
	overflow: hidden;
	width: 100%;	
}

.home-banner .carousel div {
	height: 100%;
}

.home-banner .diapos {	
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.home-logo {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 4;
	transform: translate(-50%,-50%);
}

@media (max-width: 767px) {
	.home-logo img {
		max-width: 60%;
		height: auto;
	}
}

/* HOME */

.home-row, .home-more-row, .home-blog-row {	
	margin-bottom: 4px;
}

.home-row:after, .home-more-row:after, .home-blog-row:after {
	content: "";
	clear: both;
	display: block;
}

.home-blog-row {
	padding-bottom: 80px;
}

.home-boxes {
	float: left;
	height: 46vh;
	padding: 0;
}

.home-boxes > div {
	background-color: #e6e6e6;
	height: 100%;
}

.home-image, .home-video {
	position: relative;
}

.video-homepage {
	overflow: hidden;
	position: relative;
}

.video-homepage video {
	width: auto;
	position: absolute;
	top: -2%;
	left: 0;
	z-index: 2;
	right: 0;
	height: 104%;
}

.home-boxes iframe {
	width: 100%!important;
	height: 100%!important;
}

.home-image figure {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.home-image > div, .home-video > div {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 0 5%;
}
.home-image:hover > div, .home-video:hover > div {
    opacity: 1;
}
.video-portada, .banner-video-portada {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: none;
	opacity: 1!important;
	background-color: transparent!important;
	padding: 0!important;
	z-index: 4!important;
}
.video-portada a, .banner-video-portada a {
	display: block;
	width: 100%;
	height: 100%;
	background: url('../images/play-icon.png') center center no-repeat;
}
.banner-video-portada a {
	position: relative;
	z-index: 30;
	background-position: center top 76%;
}



a.home-comprar-ahora {
	/*background-color: #b39e54;*/
	background-color: #FFF;
	border:1px solid #FFF;	
	text-transform: uppercase;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	color: #000;
	width: 140px;
	padding: 10px 0;
	text-align: center;
	display:block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 59%;
}

a#activar-video-chrome {
	display: none;
}

a.home-comprar-ahora:hover {
	color: #FFF;
	text-decoration: none;	
}

@media (min-width: 992px){
	a.home-comprar-ahora {		
		font-size: 0.9vw;	
		line-height: auto;
		width: 12%;	
		padding: 1.4% 0;		
	}
}

.home-boxes h2, .home-more-row h4 {
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
}
a.home-ver-revista {
	display: block;
	width: 100px;
	padding: 10px 5px;
	text-align: center;
	border:1px solid #000;
	color: #000;
	margin: 0 auto;
}

.home-boxes h2 a, .home-more-row h4 a {
	color: #000;
}

.home-more-row h3, .home-blog-row h3 {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	margin: 60px 0;
}

.home-more-row .home-boxes {
	margin-bottom: 10px;
}

.home-blog-box {
	float: left;
	width: 25%;
	padding: 0 5px;
	font-size: 14px;
}

.fluid-width-video-wrapper {
	opacity: 1!important;
}

@media (max-width: 991px) {
	.home-blog-box {
		width: 100%;
		margin-bottom: 20px;
	}
	.home-row {
		margin-bottom: 0;
	}
	.home-boxes, .home-more-row .home-boxes {
		margin-bottom: 4px;
	}
}
@media (max-width: 991px) and (orientation:landscape){
	.home-boxes {
		height: 88vh;
	}
}

.home-blog-box figure {
	position: relative;
	height: 210px;
	overflow: hidden;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 768px) and (max-width: 991px) {
	.home-blog-box figure {
		height: 480px;
	}
}

@media (max-width: 767px) and (orientation:landscape){
	.home-blog-box figure {
		height: 480px;
	}
}

@media (max-width: 767px) and (orientation:portrait){
	.home-blog-box figure {
		height: 280px;
	}
}

.home-blog-box figure a {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home-blog-box h5 {
	font-size: 18px;
	font-weight: 700;
}
.home-blog-box h5 a {
	color: #000;
}

a.home-more-blog {
	width: 120px;
	background-color: #000;
	color: #FFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 5px;
	margin: 60px auto 0 auto;
	display: block;
	text-align: center;
}

@media (min-width: 992px) {

	.home-row:nth-of-type(1) .home-boxes:nth-of-type(1),
	.home-row:nth-of-type(1) .home-boxes:nth-of-type(2),
	.home-row:nth-of-type(3n + 3) .home-boxes:nth-of-type(1),
	.home-row:nth-of-type(3n + 3) .home-boxes:nth-of-type(2) {
		width: 30%; 
	}	

	.home-row:nth-of-type(1) .home-boxes:nth-of-type(3),	
	.home-row:nth-of-type(3n + 3) .home-boxes:nth-of-type(3) {
		width: 40%;
		/* 1 3 6*/
	}

	
	.home-row:nth-of-type(3n + 2) .home-boxes:nth-of-type(2),
	.home-row:nth-of-type(3n + 2) .home-boxes:nth-of-type(3) {
		width: 30%;
	}	

	.home-row:nth-of-type(3n + 2) .home-boxes:nth-of-type(1) {
		width: 40%;
		/*2  5*/
	}

	.home-row:nth-of-type(4) .home-boxes:nth-of-type(1),
	.home-row:nth-of-type(4) .home-boxes:nth-of-type(3) {
		width: 30%;
	}	

	.home-row:nth-of-type(4) .home-boxes:nth-of-type(2) {
		width: 40%;
		/*4*/
	}

	.home-more-row .home-boxes {
		width: 33.333333%;
	}


}

@media (min-width: 992px) and (max-width: 1199px) {
	.home-boxes {
		height: 30vh;
	}
}

@media (max-width: 991px) {
	.home-boxes {
		width: 100%;
	}
}


/* ALL ISSUES */

.all-issues {
	padding-bottom: 80px;
}

.issues-box, .hot-max-box {
	margin-bottom: 50px;
	text-align: center;
	overflow: hidden;
}

.issues-box h2, .hot-max-box h2 {
	font-size: 14px;
	font-weight: 700;
	margin-top: 30px;
	min-height: 35px;
}
.issues-box h2 a, .hot-max-box h2 a {
	color: #000;
}

.angel-img{	
	max-width: 100%!important;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.hot-max-box > div {
	min-height: 480px;	
	position: relative;
	overflow: hidden;
	/*background-color: #e6e6e6;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
} 

@media (max-width: 991px) and (orientation:portrait) {
	.hot-max-box > div {
		min-height: 320px;		
	} 
}

.hot-max-box > div > a {
	display: block;
	width: 100%;
	min-height: 320px;
}

.hotmas .ad-revista-preview {
	margin-bottom: 80px;
}

.angel-post {
	border-right:1px solid #e6e6e6;
}

.angel-pic {
	margin-bottom: 30px;
}

.angel-pic img {
	margin-right: auto;
	margin-left: auto;
	display: block;
	max-width: 100%;
	height: auto;
}

/* EACH ISSUE DETAIL PREVIEW */

.revista-detail-box .row {
	padding-bottom: 30px;
}

.show-main-detailpic {
	height: 75vh;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;	
}

.show-main-detailpic img, .recomendamos-imgs img {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.show-main-detailpic img {
	display: none;
} 


.recomendamos-imgs a {
	position: relative;
	z-index: 4;
}

.revista-detail-mainpic > div {		
	font-size: 0;
	margin-left: -10px;
	margin-right: -10px;	
	/*text-align: center;*/
	padding-left: 5px;
	padding-right: 5px;
}

.thumbs-container {
	overflow: hidden;
	position: relative;
	min-height: 100px;
}

.revista-detail-mainpic .thumbs-detail-preview {
	padding: 0 5px;
	width: 20%;
	font-size: 12px;
	display: inline-block;
	height: 120px;
	margin-bottom: 5px;
	overflow: hidden;	
}

.revista-detail-mainpic .thumbs-detail-preview img {
	width: auto;
	height: 100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.video-preview-revista iframe {
	width: 100%!important;
}


@media (max-width: 991px) {
	.revista-detail-mainpic {
		margin-bottom: 30px;
	}
	.revista-detail-mainpic .thumbs-detail-preview img {		
		max-width: 100%;		
	}
}
@media (max-width: 991px) and (orientation:portrait) {
	.revista-detail-mainpic .thumbs-detail-preview {
		height: 60px;
	}
	.show-main-detailpic {
		height: 50vh;
	}
}

@media (max-width: 991px) and (orientation:landscape){
	.show-main-detailpic {
		height: 90vh;
	}
	.show-main-detailpic img {
		height: 90vh;		
		max-width: none;
		width: auto;
	}
}

.revista-detail-texts {
	font-size: 16px;
}
.revista-detail-texts h1 {
	margin: 0 0 30px 0;
}

.detail-comprar {
	color: #FFF;
	background-color: #000;
	padding: 10px 30px;
	margin-bottom: 30px;
	display: inline-block;
}
.detail-comprar:hover {
	color: #FFF;
}


.similar-products {
	margin: 30px auto;
	overflow: hidden;
	padding-top: 30px;
	border-top: 1px solid #000;
}
.similar-products h2 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 60px;
}

.recomendamos-imgs {
	height: 50vh;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}
.recomendamos-imgs a {
	display: block;
	width: 100%;
	height: 100%;
}

.similar-products div[class^="col-"] {
	margin-bottom: 20px;
	text-align: center;
}
.similar-products h4 {
	margin-top: 30px;
}
.similar-products h4 a {
	color: #000;
}

@media (min-width: 768px) and (max-width: 991px) and (orientation:portrait) {
	.recomendamos-imgs {
		height: 30vh;		
	}
}

@media (max-width: 991px) and (orientation:landscape) {
	.recomendamos-imgs {
		height: 88vh;		
	}
}

/* NEW ISSUE */

.new-issue-box {
	text-align: center;
	max-width: 1000px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

.video-intriga {
	margin-bottom: 30px;
}

.issue-portrait {
	overflow: hidden;
}

@media(min-width: 1024px) {
	.new-issue-box {		
		width: 1000px;		
	}
	.video-intriga iframe {
		width: 100%!important;
		height: 520px;
	}
}

@media (min-width: 768px) and (max-width: 1999px){
	.issue-portrait {
		height: calc(25vw * 1.29);
	}
}

@media (min-width: 1200px){
	.issue-portrait {
		height: calc(16.6667vw * 1.29);
	}
}

/* ADS */

.ads img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.ad-revista-preview {
	margin: 30px auto;
	height: 120px;
	width: 990px;
	overflow: hidden;
}

.paradise-ad {
	margin-top: 30px;
}

.side-ad {
	height: auto;
}

@media (max-width: 990px) {
	.ad-revista-preview {
		width: 100%;
	}
}

/* REVISTA SINGLE */

.full-body-height {
	height: 100%;
	overflow: hidden;
}

.issue-menu-box {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 80px;
	background-color: transparent;
	color: #FFF;
	font-size: 12px;
	z-index: 12;
	transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
}


.issue-menu-box:hover, .black-issuemenu-bg, .black-issuem-bg2 {
	background-color: #000;
} 

.issue-menu-box ul {
	padding: 30px 5px;
	margin: 0;
	width: 100%;
	display: block;
} 

.issue-menu-box ul li {
	margin: 0 0 20px 0;
	width: 100%;
	color: #000;
} 

.issue-menu-box ul li.issue-title {
	border-top: 1px solid #000;
	padding-top: 10px;
}

.issue-menu-box ul li a {
	color: #000;
} 

.issue-menu-box:hover ul li a, 
.issue-menu-box:hover ul li,
.black-issuemenu-bg ul li a, 
.black-issuemenu-bg ul li,
.black-issuem-bg2 ul li a,
.black-issuem-bg2 ul li {
	color: #FFF;
}

.issue-menu-box:hover ul li.issue-title,
.black-issuemenu-bg ul li.issue-title,
.black-issuem-bg2 ul li.issue-title {
	border-top: 1px solid #FFF;
} 

.choose-issue, .choose-page {
	position: absolute;
	top: 0;
	height: 100%;
	overflow-y: auto;
	left: -80px;
	z-index: 100;
	background-color: #000;
	padding: 15px;
	display: none;
	transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
}

.choose-issue h5 a.active {
	color: #b39e54;
}

.choose-page {
	width: 116px;
}

.choose-issue a, .choose-page a {
	color: #FFF;
}

.choose-page ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.choose-page ul li {
	list-style-type: none;
	float: left;
	width: 33.3333%;
	padding: 2px;
	text-align: center;
}
.choose-page ul li span {
	border:1px solid #FFF;
	padding: 2px;
	display: block;
	font-size: 11px;
	letter-spacing: 0px;
}
.choose-page li.current span, .choose-page li:hover span a {
	color: #b39e54;
}

.show-their-issues {
	left: 80px;
	display: block;
}

.choose-issue > div {
	width: 80px;
	margin-bottom: 15px;
	position: relative;
}

.choose-issue figure {
	width: 100%;
}

.choose-issue img {
	max-width: 100%;
	height: auto;
}

.issue-main {
	height: 100%;
	position: relative;
	overflow: hidden;
}
.issue-main svg {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 24px;
    height: 41px;
    opacity: .5;
}
.button-nav-box {
	position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    width: 40px;
}
.issue-prev {
	left: 80px;
}
.issue-next {
	right: 4%;
}

.mob-issue-prev svg, .mob-issue-next svg  {
	width: 14px;
    height: 31px;    
}
.issue-prev.mob-issue-prev  {
    left: 20%;
    top: 4px;
}
.issue-next.mob-issue-next {
    right: 20%;
    top: 4px;
}
.mob-issue-prev a, .mob-issue-next a {
	height: 100%;
	display: block;
	width: 100%;
}
.mob-issue-next svg {
	float: right;
}

.issue-content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;	
	height: 100%; 
	position: relative;
	overflow: hidden;
}

a.open-fullimage-mobile {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 200;	
	display: none;
	color: #000;
	width: 10px;
	height: 10px;
	background-color: #000;
}


/* make the video stretch to fill the screen in WebKit */
:-webkit-full-screen #myvideo {
      width: 100%;
      height: 100%;
}


.overlay-block {
	position: absolute;
	z-index: 5;
	width: 100%;
	height: 100%;
	background-color: transparent;
	cursor: pointer;
}
.loading-issue {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	background:url('../images/loading.gif') center center no-repeat #FFF;
}

.view-page {
	height: 100%;
	overflow: hidden;
}

.view-page .tabla, .view-page .tabla-celda {
	height: 100vh;
}

.view-page img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#issue-main-video {
	width: 100%;
	height: 100%;
}
#issue-main-video iframe {
	width: 100%!important;
	height: 100%!important;
}

.issue-video-password {
	position: absolute;
	width: 300px;
	text-align: center;
	font-size: 14px;
	top: 5%;
	left: 50%;
	margin-left: -150px;
	border-radius: 5px;
	padding: 15px;
	background-color: #FFF;
	box-shadow: 1px 1px 2px #e6e6e6;
	z-index: 11;
}

.issue-video-password > div {
	position: relative;
}

.issue-video-password a.close-password {
	font-weight: bold;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	text-align: center;
	padding: 5px 0;
	background-color: #000;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 15px;
}

.mob-issue-pag {
	position: fixed;
	bottom: 0;	
	z-index: 2;
	display: none;
	background-color: #000;
}
.mob-issue-pag > div {
	position: relative;
	height: 100%;
}

/* mosi issue page */

@media (max-width: 991px) {
	
	.mob-issue-pag {
		display: block;
	}
	.issue-menu-box {		
		background-color: #000;		
	}
	.issue-menu-box > div {		
		position: absolute;
		top: 0;
		width: 80%;		
		transition: 0.2s ease;
	    -moz-transition: 0.2s ease;
	    -webkit-transition: 0.2s ease;
	    -o-transition: 0.2s ease;
	    background-color: #000;
	    height: 100vh;
	    padding-left: 15px;
	    padding-top: 15px;
	    overflow-y: auto;
	}
	.desk-issue-prev, .desk-issue-next {
		display: none;
	}
	.issue-content {
		width: 100%;
	}
	.open-mob-issuem {
		right: 15px;
	}
	
	.show-their-issues {
		left: 120px;
	}
}

@media (max-width: 991px) and (orientation: portrait) {
	.issue-menu-box {		
		top: 0;
		bottom: auto;
		left: 0;
		width: 100%;		
		height: 40px;
	}
	
	.issue-main {
		height: calc(100% - 80px);
		margin-top: 40px; 
	}
	.issue-menu-box > div {			
		right: -100%;		
	}
	.mob-issue-pag {		
		bottom: 0;
		height: 40px;
		width: 100%;
		left: 0;
		z-index: 2;		
	}
	.issue-menu-box > div.show-mob-issuemenu {
		right: 0;		
	}
	.view-page .tabla, .view-page .tabla-celda {
		height: 100%;
	}
	/*full page images in mobile*/
	.view-page img {
		position: absolute;
		max-width: none;
	    max-height: none;	    
	    left: 50%;
	    margin-right: auto;
	    width: auto;
	    height: 100%;
	    top: 0;
	    transform: translateX(-50%);
	}	

}

@media (max-width: 991px) and (orientation: landscape) {
	.issue-menu-box {		
		top: 0;
		bottom: auto;
		left: 0;
		width: 40px;		
		height: 100%;
	}
	
	.issue-main {
		width: calc(100% - 80px);
		margin-left: auto;
		margin-right: auto;
	}
	.issue-menu-box > div {			
		left: -40vw;
		width: 40vw;		
	}
	.issue-menu-box > div.show-mob-issuemenu {
		left: 0;		
	}
	.mob-issue-pag {		
		bottom: 0;
		width: 40px;
		height: 100%;
		right: 0;
		z-index: 2;		
	}
	.issue-prev.mob-issue-prev  {
	    left: 20%;
	    top: 5%;
	}
	.issue-next.mob-issue-next {
	    right: 20%;
	    top: auto;
	    bottom: 5%;
	}
	.button-nav-box.mob-issue-prev {
		height: 40px;
	}
	.button-nav-box.mob-issue-next {
		height: 40px;
	}
	
}

/***********/

.porfavor-acceda {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.porfavor-acceda > div {
	position: absolute;
	width: 320px;
	padding: 15px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background-color: #FFF;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
a.cerrar-porfavor {
	display: inline-block;
	padding: 5px 9px;
	background-color: #000;
	border-radius: 100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	color: #FFF;
}

.procesando-compra {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 120;
	background-color: rgba(0, 0, 0, 0.8);
	content: "..Agregando al carrito de compras..";
	text-align: center;
	vertical-align: middle;
	color: #FFF;
	font-weight: 700;
}

/* BLOG */



.all-posts-preview {
	margin-bottom: 50px;	
	font-size: 14px;
}

.all-posts-preview > div {
	padding-bottom: 15px;
}

.all-posts-preview h2 {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
}

.all-posts-preview h2 a {
	color: #000;
}
.all-posts-preview h2 a:hover {
	color: #000;
}


.all-posts-preview figure {
	position: relative;
	height: 260px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}
.all-posts-preview figure a {
	position: absolute;
	z-index: 4;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.all-posts-preview section {
	overflow: hidden;
}

a.read-more {
	color: #b39e54;
	font-size: 12px;
	font-weight: 700;
}
a.read-more:hover {
	color: #b39e54;
}

.side-boxes {
	margin-bottom: 60px;
}

.blog-sidebar h3 {
	font-size: 20px;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
}

.side-revistas {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 8px;
	margin-bottom: 10px;
}
.side-revistas:after {
	content: "";
	display: block;
	clear: both;
}
.side-revistas > div, .side-revistas figure {
	float: left;
}

.side-revistas > div {
	width: 80%;
	padding-right: 10%;
}
.side-revistas figure {
	width: 20%;
	height: 60px;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.side-revistas figure a {
	display: block;
	width: 100%;
	height: 100%;
}

.side-revistas h4 {
	font-size: 16px;
}

.side-revistas h4 a {
	color: #b39e54;
}

.blog-title .published-on{
	font-weight: 700;
	font-style: italic;
	margin-top: 30px;
}

.single-post {
	font-size: 16px;
	line-height: 1.6em;
}

.single-post .single-main-pic {		
	margin-bottom: 30px;
}
.single-post .single-main-pic img {		
	width: 100%;
	height: auto;
	display: block;
}

.single-post p, .single-post ul {
	margin-bottom: 30px;
}

.otros-posts, .comentarios-main {
	margin-top: 60px;
	margin-bottom: 60px; 
}

.otros-posts-title {
	text-align: center;
	padding: 15px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin-bottom: 60px;
	overflow: hidden;
}
.otros-posts-title h3 {
	text-transform: uppercase;
	font-size: 20px;
	margin: 0;
}

ul.single-post-share {
	margin: 30px 0 0 0;
	padding: 0;
	font-size: 0;	
	color: #000;
	float: left;
}

ul.single-post-share li {
	font-weight: 700;
	font-size: 13px;
	float: left;
	margin-right: 10px;
}

.fb-comentarios div, .fb-comentarios iframe, .fb-comentarios span {
	width: 100%!important;
}

@media (min-width: 992px){
	.revista-detail-texts {
		padding-left: 30px;
		padding-right: 30px;
	}
	.all-posts, .single-post {
		padding-right: 160px;
	}
	.blog-title {
		padding-left: 10%;
		padding-right: 10%;
	}
}


/* CONTACTO */

.contacto-box, .nosotros-box {
	padding-bottom: 80px;
}

.contacto-box p, .nosotros-box p {
	font-size: 16px;
}

.formulario-contacto input[type='text'], .formulario-contacto input[type='email'], .formulario-contacto textarea {
	margin-bottom: 20px;
	outline: none;
	border:1px solid #000;
	padding: 5px;
	font-style: 16px;
	width: 100%;
}
.formulario-contacto input[type='text'], .formulario-contacto input[type='email'] {
	min-height: 40px;
}
.recaptcha-box {
	margin-bottom: 20px;
}

.formulario-contacto input[type='submit'] {
	padding: 15px 25px;
	color: #FFF;
	background-color: #000;
	border-radius: none;
	-webkit-border-radius:none;
	-moz-border-radius:none;
}

.contacto-text h3, .nosotros-text h3 {
	margin-top: 0;
}
.nosotros-text {
	text-align: center;
}
.nosotros-text img {
	margin-bottom: 30px;
}

@media (min-width: 992px) {
	.contacto-text, .nosotros-text {
		padding-right: 8%;
		padding-left: 8%;
	}
}

@media (max-width: 991px) {
	.formulario-contacto {
		margin-bottom: 30px;
	}
}

/* USERS */

.user-main {
	padding-top: 60px;
	padding-bottom: 80px;
}
.user-main h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

.user-sidebar .btn {
	font-size: 12px;
}
.user-sidebar p {
	font-size: 12px;
}

.user-revista-block {
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 15px;
	margin-bottom: 30px;
	font-size: 12px;
}
.user-revista-block h2 {
	margin:0;
	font-size: 14px;
	font-weight: 700;
}
.user-revista-block h2 a {
	color: #000;
}

@media (max-width: 991px) {
	.desktop-profile-menu {
		display: none;
	}
	.user-sidebar {
		margin-top: 30px;
	}
	.user-mob-front-orders {
		word-break: break-all;
	}
}

.user-revista-block:after {
	clear: both;
	content: "";
	display: block;
}

.user-revista-block .thumb-picture,
.user-revista-block .user-revista-title {
	float: left;
}

.user-revista-block .thumb-picture {
	width: 10%;
	position: relative;
	/*height: 60px;*/
	height: auto;
	/*background-color: #e6e6e6;*/
}
.user-revista-block .thumb-picture a.thumbnail {
	margin-bottom: 0;
}


.user-revista-block .user-revista-title {
	width: 50%;
	padding: 0 5%;
}
.user-revista-block .user-revista-view {
	width: 20%;
	float: right;
}

@media (max-width: 991px) {
	.user-revista-block .user-revista-view {
		width: 35%;		
	}
}

.reply-ticket {
	display: none;
}

.enviando {
	display: none;
	font-style: italic;
}

.are-you-sure {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
}

.are-you-sure .box {
	width: 30%;
	transform: translate(0,-50%);
	background-color: #FFF;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-mox-border-radius:5px;
	padding: 15px;
	position: relative;
	top: 50%;
	margin-top: -60px;
	margin-right: auto;
	margin-left: auto;
	color: #000;
	text-align: center;
	overflow: hidden;
}

.order-tabs {
	display: none;
}
.order-tabs:nth-of-type(1) {
	display: block;
}

/* CHECKOUT */

.checkout-form-payment {
	display: none;
}

.culqi-errors {
	display: none;
}

.checkout-otras-pic {
	height: 100px;
	overflow: hidden;
}

.checkout-otras-pic a.thumbnail {
	height: 100%;
}

.checkout-otras-pic img {
	max-height: 100%;
	height: 100%;
}
span.total-price {
	font-family: Arial, sans-serif;
}
span.show-cvc-example {
	cursor: pointer;
}
.cvc-box {
	position: relative;
}
.this-is-cvc {
	display: none;
	position: absolute;
	z-index: 2;
	bottom: 110%;
	left: 15px;
}

/*FOOTER*/

.pie {
	padding: 60px 15px;
	background-color: #000;
}
.pie:after {
	content: "";
	display: block;
	clear: both;
}
.copyright, .footer-redes-otros {
	float: left;
}

.copyright {
	width: 40%;
}
.footer-redes-otros {
	width: 60%;
}

.footer-redes-otros ul {
	font-size: 0;
	padding: 0;
	margin: 0 0 30px 0;
	width: auto;
	text-align: right;
}
.footer-redes-otros ul li {
	font-size: 12px;
	margin: 0 10px 0 0;
	display: inline-block;
}
.footer-redes-otros ul li:last-child {
	margin-right: 0;
}
.footer-redes-otros ul li a {
	color: #FFF;
}

.filler-padding-vertical {
	padding-top: 120px;
	padding-bottom: 120px;
}

.iv-close:after, .iv-close:before {
	box-shadow: 0px 0px 3px #6d6d6d;
}

.align-left {
	text-align: left;
}
.caja-full-texto p {
	margin-bottom: 30px;
}

.caja-full-texto ul {
	margin-bottom: 30px;
}
.caja-full-texto ul li {
	font-size: 16px;
	list-style-type: circle;
	margin-bottom: 8px;	
}

@media (max-width: 991px){
	.first-menu {
		position: relative;
		right: auto;
		top: 15px;
	}
	.first-menu ul li {
		font-size: 12px;
	}
	.user-menu {
		position: relative;
		right: auto;
		top: 15px;
		width: 100%;
	}
	.copyright, .footer-redes-otros {
		width: 100%;
		text-align: center;
	}
	
}

@media (max-width: 991px) {
	.footer-redes-otros {
		margin-top: 30px;
	}
	.footer-redes-otros .pull-right {
		float: none!important;
		margin-right: auto;
		margin-left: auto;
	}
	.footer-redes-otros ul {
		text-align: center;
	}
}